/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Container to keep content centered
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
} */

/* Header styling */
nav {
  display: flex;
  height: 8vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.Logo-1 {
  margin: auto;
}

ul {
  display: flex;
  gap: 40px;
}

.menu {
  margin: auto;
}

.bars {
  display: none;
}

button {
  padding: 10px 35px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: rgba(43, 173, 43);
}

/* .header .nav a:hover {
  background-color: #555;
  border-radius: 5px;
} */

/* Hero section styling */
.hero {
  height: 80vh;
  background-color: #eceef0;
  text-align: left;
  padding: 40px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container1 {
  width: 50%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: -10px;
}

.hero h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: rgb(54, 173, 54);
}

.hero p {
  font-size: small;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 9px 28px;
  background-color: rgb(54, 173, 54);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.hero-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 10px;
}

/* client section styling */
.client {
  text-align: center;
  margin-top: 90px;
  font-size: 25px;
}

.client h1 {
  font-size: larger;
}

.client p {
  font-size: 13px;
  margin-top: 10px;
}
.logo {
  display: flex;
  text-wrap: wrap;
  gap: 100px;
  width: 87%;
  margin-top: 49px;
}

/* client ends here  */
/* group sec begins here */
.group-sec {
  text-align: center;
  height: 40vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.sec h1 {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  margin-top: 30px;
}
.sec p {
  margin-top: 20px;
  font-size: 13px;
}
.box-div {
  width: 100%;
  gap: 27px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.membership {
  width: 350px;
  height: 300px;
  background-color: rgb(240, 244, 245);
  margin-top: 50px;
  align-content: center;
  justify-content: center;
}
.Clubs {
  width: 350px;
  height: 300px;
  background-color: rgb(240, 244, 245);
  margin-top: 50px;
  align-content: center;
  justify-content: center;
}
.box-div p {
  width: 59%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  font-size: smaller;
}
.box-div h2 {
  width: 76%;
  margin-left: auto;
  margin-right: auto;
}

/* pixelgrade  */
.pix {
  height: 80vh;
  background-color: white;
  text-align: left;
  padding: 40px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ill img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 10px;
}

.container2 {
  width: 50%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.pix h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.pix p {
  font-size: small;
  margin-bottom: 20px;
}

.bttext {
  display: inline-block;
  padding: 9px 28px;
  background-color: rgb(54, 173, 54);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
/* pixelgrade ends here  */

/* online sec begins here */
.online-sec {
  display: flex;
  height: 30vh;
  background-color: whitesmoke;
  justify-content: space-evenly;
  grid-column-gap: 10px;
  align-items: center;
}

.write h3 {
  margin-top: 12px;
  font-size: larger;
  width: 60%;
}
.traffic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
.te {
  display: flex;
}
.traffic-text {
  margin-top: 20px;
  margin-left: 20px;
}
.pp {
  margin-top: 29px;
}

/* online sec ends here  */

/* <!-- marketing sec begins here --> */
.marketing {
  height: 70vh;
  text-align: center;
  margin-top: 80px;
  flex-wrap: wrap;
}
.marketing h1 {
  font-size: 40px;
}
.marketing p {
  margin-top: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
}
.imgg {
  display: flex;
  justify-content: space-evenly;
}
.tf {
  height: 280px;
  width: 29%;
  background-image: url(blog.png);
  margin-top: 30px;
  border-radius: 14px;
  background-repeat: no-repeat;
  background-size: cover;
}
.sub {
  height: 55%;
  width: 90%;
  background-color: whitesmoke;
  border-radius: 15px;
  margin-top: 230px;
  margin-right: auto;
  margin-left: auto;
  color: grey;
}
.sub h3 {
  padding-top: 27px;
  font-size: large;
}
.sub div {
  height: 39px;
  width: 123px;
  color: white;
  background-color: rgba(43, 173, 43);
  text-align: center;
  align-content: center;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  cursor: pointer;
}
/* <!-- marketing sec ends here --> */

/* <!-- footer sec begins here --> */
.footer {
  height: 40vh;
  background-color: rgb(46, 46, 46);
  color: white;
}
.foot {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}
.White {
  margin-top: 50px;
}
.footer h1 {
  font-size: 15px;
  font-family: Arial, sans-serif;
}
.footer p {
  margin-top: 20px;
  font-size: 13px;
  color: rgb(189, 187, 187);
}

.footer-sub {
  display: flex;
  justify-content: space-evenly;
}
hr {
  width: 95%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.last {
  text-align: center;
}

@media (max-width: 834px) {
  .menu {
    display: none;
  }

  .bars {
    display: flex;
    margin: auto;
  }
  .hero-div {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }

  .container1 {
    width: 100%;
  }

  .container1 h2 {
    font-size: 18px;
    margin-bottom: 2px;
  }
  .container1 h3 {
    font-size: 18px;
  }
  .container1 p {
    font-size: 10px;
  }

  .container2 {
    width: 100%;
  }

  .container2 h2 {
    font-size: 13px;
  }

  .container2 p {
    font-size: 10px;
  }

  .pix {
    height: 40vh;
  }

  .hero {
    height: 40vh;
  }

  .sec h1 {
    font-size: 18px;
  }

  .div h1 {
    font-size: 20px;
  }
  .div {
    margin-top: 30px;
    margin-right: 10px;
    width: 100%;
  }
  .div p {
    font-size: 10px;
  }
  .client {
    width: auto;
  }
  .client h1 {
    font-size: 20px;
  }

  .client p {
    font-size: medium;
  }
  .logo {
    width: auto;
    gap: 5px;
  }
  .img img {
    width: 100%;
    margin-left: 10;
  }
  .group-sec {
    height: auto;
    display: grid;
  }
  .sec h1 {
    width: auto;
  }
  .membership {
    width: 48%;
    height: 280px;
  }
  .membership p {
    width: auto;
  }
  .Clubs {
    width: 200%;
    height: 200px;
    margin-bottom: 110px;
  }
  .box-div {
    gap: 10px;
  }
  .pixel {
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: 20%;
  }
  .pixel .img img {
    width: 250px;
    height: 290px;
    margin-top: 70px;
  }
  .pic h1 {
    font-size: medium;
  }
  .pic p {
    font-size: small;
  }
  .online-sec {
    display: grid;
    height: auto;
    width: 100%;
  }
  .write h3 {
    font-size: large;
    width: auto;
    margin-top: 60px;
  }
  .write p {
    font-size: small;
    width: auto;
  }
  .traffic {
    height: 27vh;
    width: auto;
    margin-top: 20%;
    grid-template-rows: 8%;
  }
  .marketing {
    width: 100%;
    height: auto;
    margin-bottom: 14%;
  }

  .marketing h1 {
    font-size: 15px;
  }
  .marketing p {
    font-size: 13px;
  }
  .tf {
    height: auto;
    width: auto;
  }
  .imgg {
    display: grid;
    grid-row-gap: 47px;
    width: auto;
  }
  .footer {
    height: 100%;
    width: auto;
  }
  .footer-sub {
    display: grid;
    justify-content: space-evenly;
  }
}
/* BYE BYE FROM NEXCANT WEBSITE */

/* <!-- footer sec ends here --> */

/* group sec ends here */
/* .services {
  background-color: #f4f4f4;
  padding: 50px 0;
  text-align: center;
}

.services h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.service-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.service-item {
  background-color: #fff;
  padding: 20px;
  width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.service-item h3 {
  margin-bottom: 10px;
}

.service-item p {
  font-size: 1rem;
} */

/* Portfolio section styling */
/* .portfolio {
  padding: 50px 0;
  text-align: center;
}

.portfolio h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.portfolio-items {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-item img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
}

Contact section styling
/* .contact {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5722;
  color: #fff;
  text-decoration: none;
  border-radius: 5px; */

/* Footer styling */
/* .footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
} */

/* Media Query for screens 430px or smaller */
/* @media (max-width: 430px) {
  .header .nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .hero {
    padding: 40px 10px;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .service-list {
    flex-direction: column;
  }

  .service-item {
    width: 90%;
    margin: 10px auto;
  }

  .portfolio-items {
    flex-direction: column;
  }

  .portfolio-item img {
    width: 90%;
    margin: 10px auto;
  }

  .cta-button,
  .contact-button {
    padding: 10px 20px;
    font-size: 1rem;
  }
} */
